* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: crimson;
    font-weight: 600;
}

h2 {
    color: aquamarine;
    font-weight: bold;
}

h3 {
    color: blueviolet;
    font-weight: 500;
}

p {
    color: chocolate;
    font-size: 12px;
    font-weight: 400;
}